html, body {
  background-color: #6C6E70;
  background-image: url('../img/lando-background.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  color: #0AA0D9;
}

a {
  text-decoration: none;
  color: #0AA0D9
}

a:hover {
  text-decoration: none;
  color: #2d3033
}

.item-image {
  cursor: pointer;

}

.panel {
  background-color: #f8f8f8;
  text-align: center;
}

.item-image:hover {
  opacity: 0.4;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

@font-face {
  font-family: star-wars;
  src: url("../fonts/star-wars.ttf");
}

img{
  max-width: 300px;
  max-height: 300px;
}

.star-wars{
  font-family: star-wars;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
}

span.text-content {
  color: #2d3033;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.sizing {
  max-height: 200px;
  width: 200px;
  padding: 0;
  margin: 20px;
}

.sizing span.text-content span, span.text-content, .sizing img{
  max-height: 200px;
  width: 200px;
  margin: 0;
}

#myModal {
  text-align: center;
}

.modal-dialog {
  width: 400px;
}

.modal-content {
  background-color: #2d3033;
}

.col-sm-4 {
  height: 400px;
}

/*For color code references*/
/*colors

yellow FFF568
darker blue 0C98CF
bright blue 0AA0D9
gray 6C6E70
blackish 2d3033*/
