html, body {
  background-color: #6C6E70;
  background-image: url('../img/lando-background.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  color: #0AA0D9;
}

a {
  text-decoration: none;
  color: #0AA0D9
}

a:hover {
  text-decoration: none;
  color: #FFF568
}

img {
  max-height: 200px;
  max-width: 200px;
}







/*For color code references*/
/*colors

yellow FFF568
darker blue 0C98CF
bright blue 0AA0D9
gray 6C6E70
blackish 2d3033*/
