<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'auctions'}}Home{{/link-to}}</li>
      <li>{{#link-to 'auction'}}Auction 1{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
