<h1>New Auction</h1>

<div class="form-group">
  <form {{action 'save' on='submit'}}>
    <p>
      {{input id="auction-title" class="form-control" type="text" valueBinding="title" placeholder="Enter your Auction Title"}}
    </p>
    <p>
      {{textarea rows="4" id="auction-body" class="form-control" type="text" valueBinding="body" placeholder="Enter your Auction Description"}}
    </p>
    <p>
      {{input id="auction-date" class="form-control" type="text" valueBinding="date" placeholder="Enter the Auction Date"}}
    </p>
    <button id ="add-auction"class="btn btn-large">submit</button>
    </form>
</div>
